@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,100;1,900&display=swap');

body{
  font-family: 'montserrat', sans-serif;
  font-size: 15px;
}

.more-info__card{
  background: blanchedalmond;
}

.h3-title{
  padding-top: 30px;
  font-size: 30px;
}

.available{
  width: 38%;
}

.more-info__card{
  border-radius: 10px;
}

.flash-notice-p{
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin: 20px;
}


@media screen and (min-width: 768px){
  .search__buttons{
    padding-bottom: 40px;
   }

   .details-block-0{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .details-block-1{
    display: flex;
    flex-direction: column;
    width: 48%;
    font-size: 16px;
  }
  
  .details-block-2{
    display: flex;
    flex-direction: column;
    width: 48%;
    font-size: 16px;
  }

  .flash-notice-p{
    font-size: 50px;
  }

  .amenities__block{
    font-size: 16px;
  }

  .h3-title{
    font-size: 40px;
  }
}


@media screen and (min-width: 1024px){

  .available{
    width: 20%;
  }

  .search__buttons{
   padding-bottom: 40px;
  }

  .more-info__card{
    width: 90%;
  }

}