@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,100;1,900&display=swap');

:root{
  --h1-font-size:35px;
  --h2-font-size:20px;
  --p-font-size: 15px;
}

body{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.search{
  display: flex;
  flex-direction: column;
}

.leaflet-container {
  height: 100%;
}

.map{
  position: relative;
  height: 300px;
  width: 350px;
}

.search__h1{
  text-align: center;
  font-size: var(--h1-font-size);
}

.houses__h2-title{
  text-align: center;
  font-size: var(--h2-font-size);
}

.houses__container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.houses__img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.houses__container-main{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content:space-around;
  margin-bottom: 40px;
}


.house__card{
  padding: 20px;
  width: 90%;
  background-color: #FFEBCC;
  border-radius: 10px;
  margin-bottom: 80px;
}

/* .popup__container{
  background-color: tomato;
  padding: 40px;
  max-width: 1280px;
} */

.slider-img{
  width: 95%;
  height: 200px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  margin: auto;
}


/* .slick-slide{
  justify-content: center;
  align-items: center;
  margin: auto;
}

.slick-track{
  margin: auto;
} */

.slick-next, .slick-prev{
  width: 200px;
  height: 200px;
}

.search__buttons{
  display: flex;
  flex-direction: column;
}

.reservation__button{
  margin-bottom: 20px;
}

.reservation__button{

  width: 100px;
  border-radius: 10px;
  margin: auto;
  margin-top: 20px;
}

.close__button{
  
  width: 100px;
  border-radius: 10px;
  margin: auto;
  margin-top: 20px;
}

.houses__button{
  
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 60%;
  margin-top: 20px;
  margin-bottom: 20px;
}


.houses__button:hover {
  background-color: #fff;
}

.houses__button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

.map{
  width: 95%;
  margin: auto;
}

@media screen and (min-width: 768px){

  .map{
    position: relative;
    height: 300px;
    width: 100%;
  }

  .houses__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .house__card{
    padding: 20px;
    width: 40%;
  }

  .slider-img{
    width: 80%;
    height: 300px;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 10px;
  }

  .search__buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  .reservation__button{
    margin-bottom: 0;
    margin-right: 10px;
    width: 150px;
    border-radius: 10px;
    margin-top: 20px;
  }

  .close__button{
    margin-top: 20px;
    padding-left: 10px;
    margin-left: 10px;
    width: 150px;
    border-radius: 10px;
  }

  .houses__button{
    margin-top: 20px;
    padding-left: 10px;
    margin-left: 10px;
    width: 150px;
    border-radius: 10px;
  }

  .button-74 {
    min-width: 200px;
    padding: 0 25px;
  }



}