
.back-icon{
  font-size: 50px;
  color: black;
}


.sidebar--container {
    display: flex;
    height: 250px;
    border-radius: 10%;
    margin-top: 60px;
    margin-left: 15px;
    
  }
  
  .sidebar {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: #f4f4f4;
    gap: 20px;
    border-radius: 4px;
    margin-bottom: 5px;
    height: 230px;
  }
  
  .sidebar-item {
    padding: 8px;
    margin: 4px;
    border: 1px  #ccc;
    border-radius: 4px;
    cursor: pointer;

  }
  .sidebar-item:hover{
    border: 1px solid  #ccc;
  }
  
  .sidebar-item-active {
    background-color: #FFD494;
    color: black;
  }
  
  .user-profile-container {
    display: flex;
    flex: 1;
    height: auto;
    
    background-color: #ffffff;
    border-radius: 10px;
    flex-direction: column;
  }
  
  .user-profile-content {
    margin-left: 20px;
    flex: 1; 
  }

  .reservations--container {
    margin-top: 20px;
  }
  
  .reservation-cards-container {
    display: flex;
    flex-direction: column;
  }
  
  .reservation-card-container {
    margin-right: 20px;
  }
  
  .reservation-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px 0;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .reservation-card-details {
    font-weight: bold;
  }
  
  .reservation-card-date {
    margin-top: 8px;
  }
  
  .reservation-card-days {
    margin-top: 8px;
    color: #28a745;
  }
  
  .reservation-card-cancel {
    margin-top: 12px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
  }
  
 
.houses-list {
    list-style: none;
    padding: 0;
  }
  
  .house-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px 0;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 15px
  }
  
  .house-card-title {
    font-weight: bold;
  }
  
  .house-card-description {
    margin-top: 8px;
  }
  
  .house-card-visibility {
    margin-top: 12px;
    background-color: #007bff; 
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .user-info-card {
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
    margin-right: 20px;
  }
  
  .user-info-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .user-info-email {
    font-size: 16px;
    color: #666;
  }
  .user-info-button {
    background-color: #d9534f;
    color: #fff;
    padding: 8px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 15px;
    margin-right: 15px;
  }
  
  .user-info-button:hover {
    background-color: #c9302c;
  }
  
  .user-info-error {
    color: #d9534f;
    margin-top: 10px;
  }


.add-house-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none; /* Elimina el subrayado del enlace */
    display: inline-block; /* Asegura que el botón se muestre como bloque en línea */
    margin-bottom: 10px; /* Ajusta el margen inferior según sea necesario */
  }
  
  .add-house-button:hover {
    background-color: #218838; /* Cambia el color al pasar el ratón sobre el botón */
  }